@charset "utf-8";

.projects {
}

.thumb {
  width: 250px;
  height: 100%;
  float: left;
}

.thumb img {
  width: 100%;
}

.summaryCard {
  padding: 1em;
  margin: 4em;
  box-shadow: 1em 1em 0 black;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: white;
}

.summaryBody {
  margin-left: 250px;
  padding: 0 20px;
  font-weight: 200;
  text-align: justify;
}

.summaryTitle {
  margin-left: 250px;
  padding-left: 20px;
  font-family: "source code pro", monospace;
  font-weight: 300;
  font-size: normal;
}
