@charset "utf-8";

.projects {
}

.thumb {
  /*
  width: 250px;
  height: 100%;
  float: left;
  */
  height: 100%;
  flex-grow: 2;
  align-self: center;
  margin: auto;
}

.thumbImg {
  width: 100%;
}

.summaryCard {
  padding: 1em;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}

.titleRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.summaryBody {
  /*
  margin-left: 250px;
  padding: 0 20px;
  font-weight: 200;
  */
  text-align: justify;
}

.summaryTitle {
  align-self: flex-end;
  margin: 0;
  flex-grow: 1;
}

.dateTitle {
  text-align: right;
  font-weight: 100;
}

h2 {
  font-weight: 100;
}


@media only screen and (min-width: 600px) {
  .thumb {
    max-width: 400px;
  }

  .summaryCard {
    box-shadow: 1em 1em 0 black;
    -webkit-box-shadow: 1em 1em 0 black;
    -moz-box-shadow: 1em 1em 0 black;
  }

  .dateTitle {
  }
}
