@charset "utf-8";

html {
  background-color: black;
  background-size: 100% auto;
  /*background-image: url('https://ik.imagekit.io/4waizx9and/wobsite_backgrounds/139D7709-33BA-446B-B736-0BF92566E2B0_XR-XzdbC4.jpg');*/
}

html, 
body {
  height: 100%;
  margin: 0;
  font-family: "open sans", helvetica, sans-serif;
  font-weight: 300;
}

a {
  color: #555555;
  text-decoration: none;
  font-weight: 600;
  transition: .1s ease;
}

a:hover {
  transition: .1s ease;
}

.wp-block-image {
  width: 100%;
  max-width: 100%;
  margin-top: 1em;
}

.wp-block-image img {
  width: 100%;
}

.popCard {
  animation: popCardAnim .5s;
}

@keyframes popCardAnim {
  0% {
    opacity: 0;
    transform: translateY(5em);
  }

  50% {
    transform: translateY(-.3em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.has-small-font-size {
  font-size: x-small;
}
