@charset "utf-8";

html {
  background-color: black;
}

html, 
body {
  height: 100%;
  margin: 0;
  font-family: "open sans", helvetica, sans-serif;
  font-weight: 300;
}

a {
  color: #555555;
  text-decoration: none;
  font-weight: 600;
  transition: .1s ease;
}

a:hover {
  transition: .1s ease;
}

.wp-block-image {
  width: 100%;
  max-width: 100%;
  margin-top: 1em;
}

.wp-block-image img {
  width: 100%;
}

.popCard {
  animation: popCardAnim .5s;
}

@keyframes popCardAnim {
  0% {
    opacity: 0;
    transform: translateY(2em);
  }

  50% {
    transform: translateY(-.3em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
