@charset "utf-8";

html, 
body {
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  font-family: "open sans", helvetica, sans-serif;
  font-weight: 300;
}

a {
  color: #555555;
  text-decoration: none;
  font-weight: 600;
}
