@charset "utf-8";

.content {
  background-color: white;
  padding: 1em;
  box-shadow: 1em 1em 0 black;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.contactSection {
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.contactLabel {
  float: left;
  width: 150px;
  font-weight: 400;
}

.contactInfo {
  float: left;
  margin: 0;
}

.contactInfo ul {
  list-style-type: none;
  margin: 0;
}

.contactInfo li {
  margin-bottom: 15px 0;
}

.contactInfo a:hover {
  text-transform: uppercase;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

strong {
  font-weight: 600;
}

.wp-block-columns {
  display: flex;
  flex-direction: row;
}

.wp-block-column {
}
