@charset "utf-8";

.content {
  background-color: white;
  padding: 1em;
  box-shadow: 1em 1em 0 black;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.contactSection {
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.contactLabel {
  float: left;
  width: 150px;
  font-weight: 400;
}

.contactInfo {
  float: left;
  margin: 0;
}

.contactInfo ul {
  list-style-type: none;
  margin: 0;
}

.contactInfo li {
  margin-bottom: 15px 0;
}

.contactInfo a:hover {
  background: black;
  color: white;
  padding: 2px;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

strong {
  font-weight: 600;
}

figure {
  margin: 0;
  max-width: 200px;
  background: white;
  box-shadow: .2em .2em 0 black;
  -webkit-box-shadow: .2em .2em 0 black;
  -moz-box-shadow: .2em .2em 0 black;
  border: 1px black solid;
}

.pfp>img {
  width: 100%;
  display: block;
}

figcaption {
  margin-top: 2em;
  font-size: x-small;
  text-align: center;
}

.characterSheet {
  float: right;
  width: 150px;
}

.statdiv {
  position: absolute;
  /*transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);*/
  top: 0;
  opacity: 0;
  width: 200px;
  transition: .2s ease;
  cursor: pointer;
  display: none;
}

.statdiv:hover {
  width: 100%;
  opacity: 1;
  /*background-color: rgba(255, 255, 255, .9);*/
  background-image: linear-gradient(
    70deg,
    rgba(255, 255, 255, .95),
    rgba(255, 255, 255, .95),
    rgba(255, 255, 255, .95),
    rgba(255, 255, 255, .95),
    rgba(255, 255, 255, .95),
    rgba(100, 100, 100, .95));
}

.statlist {
  font-size: small;
  list-style: none;
  font-family: "cormorant garamond", serif;
}

.statlist>li {
}

.about {
  text-align: left;
}

.pfp {
  position: relative;
}


@media only screen and (min-width: 600px) {
  .characterSheet {
    width: 200px;
  }

  .statdiv {
    display: block;
  }
}
