@charset "utf-8";

.excerpts {
}

.title {
  font-family: "cormorant garamond", serif;
  text-align: left;
}

.title h1 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.writingEntry {
  font-family: "open sans", serif;
  font-weight: 200;
  text-align: justify;
  background-color: white;
  padding: 1em;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-top: 1em;
  margin-bottom: 2em;
}

.tagContainer {
  float: right;
  text-align: right;
  margin: 0;
}

.tag {
  font-size: x-small;
  font-weight: 200;
  font-style: italic;
}

.tag:hover {
  background: black;
  color: white;
}

.expander {
  font-size: small;
}

.expander:hover {
  background: black;
  color: white;
}

.date {
  font-size: small;
  font-weight: 200;
  font-style: italic;
  margin-block-end: 0;
}

@media only screen and (min-width: 600px) {
  .writingEntry {
    box-shadow: 1em 1em 0 black;
    -webkit-box-shadow: 1em 1em 0 black;
    -moz-box-shadow: 1em 1em 0 black;
  }
}

figure {
  margin-block-end: 0;
}
