@charset "utf-8";

.excerpts {
}

.title {
  font-family: "cormorant garamond", serif;
}

.title h1 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.writingEntry {
  font-family: "open sans", serif;
  font-weight: 200;
  margin: 4em;
  text-align: justify;
}


.tagContainer {
  float: right;
  text-align: right;
  margin: 0;
}

.tag {
  font-size: x-small;
  font-weight: 200;
  font-style: italic;
}

.date {
  font-size: small;
  font-weight: 200;
  font-style: italic;
  margin-block-end: 0;
}
