@charset "utf-8";

.navbar {
  background-color: #ffffff;
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 100;

  box-shadow: 0 1px 5px 0 #dddddd;
  -webkit-box-shadow: 0 1px 5px 0 #dddddd;
  -moz-box-shadow: 0 1px 5px 0 #dddddd;
}

.navbar a {
  text-decoration: none;
  color: #111111;
  padding: 5px 8px;
}

.navbar a:hover {
  background-color: #888888;
}

.homeLink {
  float: left;
  left: 20px;
  position: absolute;
}

.navContainer {
  bottom: 0;
  padding-bottom: 15px;
  position: absolute;
  width: 100%;
}

.navigation {
  text-align: center;
}

.activeNavLink {
  background-color: #cccccc;
}

.navLink {
  color: #000000;
}
